# PlanAhead Generated physical constraints 

NET "clr" LOC = C9 | IOSTANDARD = LVCMOS33;
NET "clk" LOC = V10 | IOSTANDARD = LVCMOS33;

NET "sw[0]" LOC = T10 | IOSTANDARD = LVCMOS33;
NET "sw[1]" LOC = T9 | IOSTANDARD = LVCMOS33;
NET "sw[2]" LOC = V9 | IOSTANDARD = LVCMOS33;
NET "sw[3]" LOC = M8 | IOSTANDARD = LVCMOS33;
NET "sw[4]" LOC = N8 | IOSTANDARD = LVCMOS33;
NET "sw[5]" LOC = U8 | IOSTANDARD = LVCMOS33;
NET "sw[6]" LOC = V8 | IOSTANDARD = LVCMOS33;
NET "sw[7]" LOC = T5 | IOSTANDARD = LVCMOS33;

NET "btn[0]" LOC = B8 | IOSTANDARD = LVCMOS33;
NET "btn[1]" LOC = C4 | IOSTANDARD = LVCMOS33;

NET "led[0]" LOC = U16 | IOSTANDARD = LVCMOS33;
NET "led[1]" LOC = V16 | IOSTANDARD = LVCMOS33;
NET "led[2]" LOC = U15 | IOSTANDARD = LVCMOS33;
NET "led[3]" LOC = V15 | IOSTANDARD = LVCMOS33;

# Pins related to the 7seg LED driver

NET "decimal" LOC = M13 | IOSTANDARD = LVCMOS33;

NET "enable[0]" LOC = N16 | IOSTANDARD = LVCMOS33;
NET "enable[1]" LOC = N15 | IOSTANDARD = LVCMOS33;
NET "enable[2]" LOC = P18 | IOSTANDARD = LVCMOS33;
NET "enable[3]" LOC = P17 | IOSTANDARD = LVCMOS33;

NET "segs[0]" LOC = T17 | IOSTANDARD = LVCMOS33;
NET "segs[1]" LOC = T18 | IOSTANDARD = LVCMOS33;
NET "segs[2]" LOC = U17 | IOSTANDARD = LVCMOS33;
NET "segs[3]" LOC = U18 | IOSTANDARD = LVCMOS33;
NET "segs[4]" LOC = M14 | IOSTANDARD = LVCMOS33;
NET "segs[5]" LOC = N14 | IOSTANDARD = LVCMOS33;
NET "segs[6]" LOC = L14 | IOSTANDARD = LVCMOS33;



